#wrapper{
    text-align: center;
}

button {
    width: 170px;
    height: 60px;
    cursor: pointer;
    background: #525252;
    color: #fff;
    font-size: 14px;
    border: none;
    outline: none;
}
button:hover {
    background: rgb(0, 172, 255);
}